<div class="row px-3">
    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6" *ngFor="let member of members; let i = index">
        <!-- Displays all the Memebers -->
        <mat-card id="memberCard" style="height: 15rem;" class="my-3 rounded" matRipple style="background-color: rgb(14, 17, 22); border:1px solid  rgb(34, 38, 44);">
            <div class="h-75">
                <!-- Displays images -->
                <div class="w-50 px-2 py-2" style=" float: left;">
                    <img class="rounded-circle" [src]="members[i].image" alt="Avatar" style="aspect-ratio: 1/1;">
                </div>
                <!-- Displays name/role -->
                <div class="w-50 text-white text-center" style="float: right;">
                    <h5 class="">{{member.first}} {{member.last}}</h5>
                    <h5 class="">{{member.gradYear}}</h5>
                    <a [href]="members[i].github">
                        <button mat-icon-button *ngIf="members[i].github">
                            <img src="../../assets/github.svg" class="mb-3" id="buttonIcon">
                        </button>
                    </a>
                    <a [href]="members[i].discord">
                        <button mat-icon-button *ngIf="members[i].discord">
                            <img src="../../assets/discord.svg" class="mb-3" id="buttonIcon">
                        </button>
                    </a>
                    <a [href]="members[i].twitter">
                        <button mat-icon-button *ngIf="members[i].twitter">
                            <img src="../../assets/twitter.svg" class="mb-3" id="buttonIcon">
                        </button>
                    </a>
                    <a [href]="members[i].linkedIn">
                        <button mat-icon-button *ngIf="members[i].linkedIn">
                            <img src="../../assets/linkedin.svg" class="mb-3" id="buttonIcon">
                        </button>
                    </a>
                    <a href="">
                        <button mat-icon-button *ngIf="members[i].email">
                            <img src="../../assets/email.svg" class="mb-3" id="buttonIcon">
                        </button>
                    </a>
                </div>
            </div>
            <div class="h-100">
                <h1>Description</h1>
            </div>
        </mat-card>
    </div>

</div>